@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
}
/* Scrollbar Styling (applies globally) */
::-webkit-scrollbar {
  width: 8px;
}
/* Global Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.6); /* gray-400 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.9); /* gray-600 */
}

::-webkit-scrollbar-track {
  background: rgba(243, 244, 246, 0.8); /* gray-100 */
}

